# Python для сбора и обработки данных

Автор: Валентин Бирюков

In [5]:
%load_ext sql
%sql sqlite:///tst_1.db

In [6]:
%%sql
drop table if exists Faculties;

CREATE TABLE Faculties 
(
    id integer primary key, 
    Name varchar(50)
);
insert Into Faculties(id, name) values (1, 'KIB');
insert Into Faculties(id, name) values (2, 'IT');
insert Into Faculties(id, name) values (3, 'Economics');


PRAGMA foreign_keys = ON;

drop table if exists Students;

CREATE TABLE Students 
(
    student_id integer primary key, 
    Name varchar(50),
    SecondName varchar(50), 
    Faculty_id integer ,
    StudyGroup varchar(20),
    GPA number,
    foreign key(faculty_id) references  Faculties(id)
);

insert into Students(student_id, Name, SecondName, Faculty_id, StudyGroup, GPA) VALUES (1, 'Anton', 'Sidorov', 1, '101', 3.5);
insert into Students(student_id, Name, SecondName, Faculty_id, StudyGroup, GPA) VALUES (2, 'Alexey', 'Petrov', 2, '201', 3.3);
insert into Students(student_id, Name, SecondName, Faculty_id, StudyGroup, GPA) VALUES (3, 'Ivan', 'Meshkov', 1, '101', 4.5);
insert into Students(student_id, Name, SecondName, Faculty_id, StudyGroup, GPA) VALUES (4, 'Elena', 'Kvitova', 3, '301', 4.8);
insert into Students(student_id, Name, SecondName, Faculty_id, StudyGroup, GPA) VALUES (5, 'Darya', 'Salnikova', 2, '202', 3.4);

 * sqlite:///tst_1.db
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Задание 1. Напишите SQL-запрос, возвращающий ваше имя

Задание 2. Напишите SQL-запрос, возвращающий имена всех студентов с фамилией Sidorov

Задание 3. Выведите все названия факультетов, на которых учится хотя бы один студент со средним баллом не менее 4. Имя факультета должно встречаться один раз в выводе

Задание 4. Вывести только тех студентов, фамилия которых начинается с 'S', а в имени присутствует 'a'.

Задание 5. Вывести только те факультеты, количество групп в которых больше 3

Задание 6. Для всех факультетов вывести средний балл по факультету для студентов, чья фамилия не содержит в себе подстроку 'ov', при условии, что количество таких студентов на факультете не менее 3. В обратном случае, факультет выводить не требуется

Больше практики
------------------
https://www.sql-ex.ru/